# Ignore Ansible vault password files
sudo-passwords.yml
# Ignore Vaults Password
vault_password.txt
# Ignore any other sensitive files you don't want in the repo
.env
.ssh/
# Ignore Ansible.log
ansible.log
# Ignore system files
*.swp
.DS_Store
# Ignore hosts.ini file
hosts.ini
#Ignore ansible.cfg file
ansible.cfg


#George Floyd CreepyPasta Vol 1 50+ Breathtaking Horror Stories 
#Ignore Exer1 Python Files Exercise
Exer1.txt
#Ignore .csv files
SpeedTest.csv






